body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: rgb(100, 0, 255);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.500);
}

.logo {
  color: white;
  margin-left: 10px;
  font-weight: 500;
}

.option {
  width: 25px;
  height: 25px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin-right: 10px;
  border: 1px rgb(150, 150, 150) solid;
  border-radius: 5px;
}

.bg-layout {
  display: flex;
  margin-top: 5px;
}

.bg-wrapper {
  width: 150px;
}

.bg-text {
  height: 1em;
  width: fit-content;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 0.1em;
  translate: 0 -100%;
  transform-origin: left bottom;
  transform: rotate(90deg);
  background: linear-gradient(to right, red, orange, green, blue);
  background-clip: text;
  color: rgba(255, 255, 255, 0);
}

.query-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 120px;
  margin-left: 80px;
}

form {
  display: flex;
  height: 50px;
  gap: 10px;
  margin-top: 10px;
}

.react-select {
  position: relative;
  height: fit-content;
}

label {
  position: absolute;
  z-index: 1;
  font-size: 2px;
  left: 10px;
  top: -8px;
  background-color: white;
}

label.focus {
  color: rgb(162, 0, 255);
}

label.disabled {
  color:rgb(200, 200, 200);
}

.submit-btn {
  align-self: center;
  font-size: x-small;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 3px;
  position: relative;
  top: -8px;
  height: 38px;
}

hr {
  border: none;
  border-top: 3px solid rgb(235, 200, 255);
  color: rgb(235, 200, 255);
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 100%;
  margin-top: 20px;
}

.search-result-wrapper {
  top: -35px;
  position: relative;
  padding: 5px;
  background-color: white;
}

.search-result {
  border: 2px solid rgb(216, 150, 255);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20%/50%;
  text-align: center;
  color: rgb(216, 150, 255);
  background-color: white;
}

.result-wrapper {
  text-align: center;
}

/* .highcharts-color-0 {
  fill: rgb(125, 95, 177);
}

.highcharts-color-1 {
  fill:rgb(193, 158, 254);
}

.highcharts-color-0 rect {
  fill: rgb(125, 95, 177);
}

.highcharts-color-1 rect {
  fill:rgb(193, 158, 254);
} */

/* .highcharts-yaxis {
  translate: 0 30px;
} */


